/* Main style for donation catalyst */
html{height:100%;}
body {
	background-color: #999999;
	  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#999999)); /* Saf4+, Chrome */
	  background-image: -webkit-linear-gradient(top, #ffffff, #999999); /* Chrome 10+, Saf5.1+, iOS 5+ */
	  background-image:    -moz-linear-gradient(top, #ffffff, #999999); /* FF3.6 */
	  background-image:     -ms-linear-gradient(top, #ffffff, #999999); /* IE10 */
	  background-image:      -o-linear-gradient(top, #ffffff, #999999); /* Opera 11.10+ */
	  background-image:         linear-gradient(top, #ffffff, #999999);
	            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#999999'); /* IE6-IE9 */
	height: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

/* ===== home page ===== */

.homeBox {
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	background-color: #666;
	 
	height:250px;
}

	.homeBox p {
		color:#fff;
		font-size:18px;
		padding:10px 0;
		background:rgba(0,0,0,.5);
		padding-left:15px;
		position:relative;
			top:150px;
		text-shadow:1px 1px 1px #000;
		font-weight:bold;
		font-style:italic;
		letter-spacing:.125em;
	}

	 .innerLeft {
		background:url('../images/cw.jpg') center top;
		margin:10px;
		-webkit-border-radius:6px;
		-moz-border-radius:6px;
		border-radius:6px;
		height:230px;
		
	}
	
	.homeBox .innerMid {
		background:url('../images/redcross.jpg');
		margin:10px;
		-webkit-border-radius:6px;
		-moz-border-radius:6px;
		border-radius:6px;
		height:230px;
		
	}
	
	.homeBox .innerRight {
		background:url('../images/tcu.jpg');
		margin:10px;
		-webkit-border-radius:6px;
		-moz-border-radius:6px;
		border-radius:6px;
		height:230px;
		
	}

.row h2 {
	opacity:.8;
	letter-spacing:.10em;
	font-size:18px;
}

#homeContent p {
	font-size:18px;
	line-height:24px;
	opacity:.7;
}

	/* register button */
	
a#registerBtn {
	font-size:18px;
	width:90%;
}

	/* Home Search */

#homeSearch {
	margin-bottom:25px;
}

#homeSearch input[type="text"] {
	font-size:40px;
	color:rgba(0,0,0,.5);
	width:75%;
	height:50px;
	line-height:60px;
	-webkit-border-radius:12px;
	-moz-border-radius:12px;
	border-radius:12px;
	margin-top:8px;

	
}

#homeSearch input[type="submit"] {
	font-size:40px;
	padding:15px 30px;
	-webkit-border-radius:12px;
	-moz-border-radius:12px;
	border-radius:12px;

	
	
}

/* ==== Cause Profile ======= */

#causeProfilePic {
	border:solid 2px black;
	width:300px;
	height:250px;
	-webkit-box-shadow:2px 2px 3px rgba(0,0,0,.6);
	-moz-box-shadow:2px 2px 3px rgba(0,0,0,.6);
	box-shadow:2px 2px 3px rgba(0,0,0,.6);
}

#causeTitle {
	font-size:300%;
	margin-bottom:10px;
	opacity:.6;
	color:black;
}

.subTitle {
	font-style:italic;
	font-size:100%;
	opacity:.6;
}

#benefitOrg {
	font-style:normal;
}


#causeDescription {
	font-size:120%;
	line-height:155%;
	opacity:.6;
}



/* ==== Stream ===== */
#causeStream { 
	
	margin-top:25px;
	border-top:10px dashed #000;
	padding:15px;
}

	.streamComment {
		margin-bottom:25px;
		padding:10px;
		border:solid 2px rgba(0,0,0,.8);
		-webkit-border-radius: 6px; /* Saf3-4, iOS 1-3.2, Android <e;1.6 */
		     -moz-border-radius: 6px; /* FF1-3.6 */
		          border-radius: 6px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
				background-color: #ffffff;
				  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dadada)); /* Saf4+, Chrome */
				  background-image: -webkit-linear-gradient(top, #ffffff, #dadada); /* Chrome 10+, Saf5.1+, iOS 5+ */
				  background-image:    -moz-linear-gradient(top, #ffffff, #dadada); /* FF3.6 */
				  background-image:     -ms-linear-gradient(top, #ffffff, #dadada); /* IE10 */
				  background-image:      -o-linear-gradient(top, #ffffff, #dadada); /* Opera 11.10+ */
				  background-image:         linear-gradient(top, #ffffff, #dadada);
				            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#dadada'); /* IE6-IE9 */
		-webkit-box-shadow:2px 2px 3px rgba(0,0,0,.6);
		-moz-box-shadow:2px 2px 3px rgba(0,0,0,.6);
		box-shadow:2px 2px 3px rgba(0,0,0,.6);
		float:left;
	}
	
	.streamComment:last-child {
		margin-bottom:5px;
	}
	
		.streamComment .userPhoto {
			float:left;
			width:64px;
			margin-left:-64px;
			position:relative;
				left:64px;
			
		}
		
			streamComment .userPhoto img {
				-webkit-box-shadow:inset 0px 0px 5px rgba(0,0,0,9);
			}
		
		.streamComment .userComment {
			margin-left:74px;
		}
		
			.userComment i {
				font-style:normal;
				display:block;
				margin-top:5px;
				text-indent:10px;
			}

/* ======== Donate Page ========= */
.input-file-tp {
	background:none!important;
}

fieldset.ccInfo {
	border:solid 1px black;
}

.input-donate {
	border:1px solid red;
	color:red;
	font-weight:bold;
}
	
		/* new clearfix */
		.group:after {
			visibility: hidden;
			display: block;
			font-size: 0;
			content: " ";
			clear: both;
			height: 0;
			}
		* html .group             { zoom: 1; } /* IE6 */
		*:first-child+html .group { zoom: 1; } /* IE7 */