<!DOCTYPE html>
<html>
<head>
  <title>NpoCatalyst</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
      <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>
</head>
<body>

<%= yield %>

</body>
</html>
