/* Main style for donation catalyst */






/* ==== Stream ===== */
#causeStream {
	border:solid 2px black;
	-webkit-border-radius: 12px; /* Saf3-4, iOS 1-3.2, Android <e;1.6 */
	     -moz-border-radius: 12px; /* FF1-3.6 */
	          border-radius: 12px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
	padding:16px;
}