    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="#">Donation Catalyst (Cause Profile)</a>
          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">

     

      <!-- Example row of columns -->
      <div class="row">
        <div class="span6">
	
          <div id="causeProfilePic">
	
			<img src="http://www.placehold.it/300x250">
			
		 </div>
		
        </div>

        <div class="span10">
	
			<h2 id="causeTitle"><%= @cause.name %></h2>
			
           <p id="causeDescription"><%= @cause.description %>
</p>

          <p><a id="donateBtn" class="btn" href="#">Donate Now!</a></p>

       </div>
        
		<div class="row">
			
			<div class="span16" id="causeStream">
				
				<div class="streamComment">
					
					<img class="userPhoto" src="http://www.placehold.it/64x64">
					
					<p class="userComment">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit amet enim. Suspendisse id velit vitae ligula volutpat condimentum. Aliquam erat volutpat.</p>
					
				</div><!-- /stream comment -->
				
				
				<div class="streamComment">
					
					<img class="userPhoto" src="http://www.placehold.it/64x64">
					
					<p class="userComment">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit amet enim. Suspendisse id velit vitae ligula volutpat condimentum. Aliquam erat volutpat.</p>
					
				</div><!-- /stream comment -->
				
				
				
				<div class="streamComment">
					
					<img class="userPhoto" src="http://www.placehold.it/64x64">
					
					<p class="userComment">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit amet enim. Suspendisse id velit vitae ligula volutpat condimentum. Aliquam erat volutpat.</p>
					
				</div><!-- /stream comment -->
				
			</div><!-- /cause stream -->
			
		</div>
		
      </div>

      <footer>
        <p>&copy; Company 2011</p>
      </footer>

    </div> <!-- /container -->